
READER StructuredDataReader
tests/structured-kb-grounding_test.json

RESOLVER DoNothingResolver
nothing at all

RESOLVER StructuredResolver
resolve structured information

RESOLVER ExtractionGrounder

RESOLVER ExternalOntologyGrounder
CAUSEEX
2
ontology/internal_ontology/causeex_dbpedia_20170308_m15a-CR.sqlite
no-clobber
ontology/internal_ontology/factors_initial-CR1019.sqlite
no-clobber
3

SERIALIZER RDFSerializer
STRUCTURED
grounded_structured_rdf
grounded_structured_rdf
