event_ontology_file: /home/criley/repos/CauseEx/ontology/internal_ontology/hume/event_ontology.yaml
examples_json: /home/criley/repos/CauseEx/ontology/internal_ontology/hume/data_example_events.json
embeddings_file: /home/criley/repos/CauseEx/ontology/internal_ontology/causeex/glove.6B.50d.p
lemma_file: /home/criley/repos/CauseEx/ontology/internal_ontology/hume/lemma.nv
stopword_file: /home/criley/repos/CauseEx/ontology/internal_ontology/hume/stopwords.list
ontology_flag: HUME
n_best: 5
