event_ontology_file: /home/criley/repos/Hume/resource/ontologies/internal/causeex/event_ontology.yaml
examples_json: /home/criley/repos/Hume/resource/ontologies/internal/causeex/data_example_events.json
embeddings_file: /home/criley/repos/CauseEx/ontology/internal_ontology/causeex/glove.6B.50d.p
lemma_file: /home/criley/repos/CauseEx/ontology/internal_ontology/causeex/lemma.nv
stopword_file: /home/criley/repos/Hume/resource/ontologies/internal/causeex/stopwords.list
ontology_flag: CAUSEEX
n_best: 5
threshold: 0.7
